@page
@model aplikacje_WWW_program_3.Pages.razorCRUD.IndexModel

@{
    ViewData["Title"] = "Ostatnio Szukane:";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FizzBuzzList[0].Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FizzBuzzList[0].result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FizzBuzzList[0].data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FizzBuzzList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                <!-- <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |-->
                <!-- <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |-->
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
